.head a{
    color: black;
    padding: 40px 15px;
    float: right;
    display: block;
    letter-spacing: 1px;
    font-size: 17.6px;
    font-family: sans-serif, 'karla';
    text-transform: uppercase;
    margin: 13px 10px;
    text-decoration: none;
}
.head a:hover{
    background-color: orange;
    transition: all 0.3s ease;
}

a img {
    float: left;
    padding-top: 4px;
    margin-left: 25px;
    text-decoration-line: none;
    animation-name: blink;
}